<form action="" method="post">
    <label for="">Title</label>
    <input type="text">
        <label for="">Descrption</label>
    <input type="text">
        <label for="">Code</label>
    <input type="text">
        <label for="">Price</label>
    <input type="number">
        <label for="">Status</label>
    <input type="text">
        <label for="">Stock</label>
    <input type="number">
        <label for="">category</label>
    <input type="text">
        <label for="">thumbnail</label>
    <input type="text">
    <input type="submit" value="enviar">
</form>